:root {
  --ring: oklch(0 0 0);
  --chart-4: oklch(0.92 0 0);
  --chart-3: oklch(0.72 0 0);
  --secondary-foreground: oklch(0 0 0);
  --chart-5: oklch(0.56 0 0);
  --foreground: oklch(0 0 0);
  --shadow-spread: 0px;
  --chart-2: oklch(0.55 0.22 264.53);
  --accent-foreground: oklch(0 0 0);
  --chart-1: oklch(0.81 0.17 75.35);
  --muted-foreground: oklch(0.44 0 0);
  --font-mono: Geist Mono, monospace;
  --spacing: 0.25rem;
  --sidebar: oklch(0.99 0 0);
  --popover-foreground: oklch(0 0 0);
  --radius: 0.5rem;
  --muted: oklch(0.97 0 0);
  --border: oklch(0.92 0 0);
  --primary-foreground: oklch(1 0 0);
  --popover: oklch(0.99 0 0);
  --font-sans: Geist, sans-serif;
  --letter-spacing: 0em;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.18;
  --sidebar-border: oklch(0.94 0 0);
  --sidebar-primary: oklch(0 0 0);
  --sidebar-primary-foreground: oklch(1 0 0);
  --accent: oklch(0.94 0 0);
  --font-serif: Georgia, serif;
  --destructive: oklch(0.63 0.19 23.03);
  --secondary: oklch(0.94 0 0);
  --sidebar-foreground: oklch(0 0 0);
  --sidebar-accent-foreground: oklch(0 0 0);
  --input: oklch(0.94 0 0);
  --shadow-offset-x: 0px;
  --sidebar-ring: oklch(0 0 0);
  --sidebar-accent: oklch(0.94 0 0);
  --destructive-foreground: oklch(1 0 0);
  --shadow-offset-y: 1px;
  --background: oklch(0.99 0 0);
  --shadow-blur: 2px;
  --card-foreground: oklch(0 0 0);
  --card: oklch(1 0 0);
  --primary: oklch(0 0 0);
}

.dark {
  --ring: oklch(0.72 0 0);
  --chart-4: oklch(0.44 0 0);
  --chart-3: oklch(0.56 0 0);
  --secondary-foreground: oklch(1 0 0);
  --chart-5: oklch(0.92 0 0);
  --foreground: oklch(1 0 0);
  --shadow-spread: 0px;
  --chart-2: oklch(0.58 0.21 260.84);
  --accent-foreground: oklch(1 0 0);
  --chart-1: oklch(0.81 0.17 75.35);
  --muted-foreground: oklch(0.72 0 0);
  --font-mono: Geist Mono, monospace;
  --sidebar: oklch(0.18 0 0);
  --popover-foreground: oklch(1 0 0);
  --radius: 0.625rem;
  --muted: oklch(0.23 0 0);
  --border: oklch(0.26 0 0);
  --primary-foreground: oklch(0 0 0);
  --popover: oklch(0.18 0 0);
  --font-sans: Geist, sans-serif;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.1;
  --sidebar-border: oklch(0.32 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0 0 0);
  --accent: oklch(0.32 0 0);
  --font-serif: Georgia, serif;
  --destructive: oklch(0.69 0.2 23.91);
  --secondary: oklch(0.25 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(1 0 0);
  --input: oklch(0.32 0 0);
  --shadow-offset-x: 0;
  --sidebar-ring: oklch(0.72 0 0);
  --sidebar-accent: oklch(0.32 0 0);
  --destructive-foreground: oklch(0 0 0);
  --shadow-offset-y: 1px;
  --background: oklch(0 0 0);
  --shadow-blur: 3px;
  --card-foreground: oklch(1 0 0);
  --card: oklch(0.14 0 0);
  --primary: oklch(1 0 0);
}
